[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-heroku = "*"
django-webpack-loader = "*"
python-dotenv = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
django-filter = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
